*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary:#041a26;
    --secondary:#182c37;
    --cta:#6bedaf;
    --button-text: #fff;
    --text-color:#ffffff;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: var(--primary);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary) ;
    padding: 10px;
    gap: 1rem;
}

.logo{
    color: var(--cta);
}

.logo h1{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}

nav li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav svg{
    color: #fff;
    font-size: 1.5rem;
    display: none;
}

nav a{
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    font-size: 1rem;
}

#search-bar{
    position: relative;
    display: flex;
    align-items: center;
}

#search-bar svg{
    position: absolute;
    font-size: 1.5rem;
    color: #d3d3d3;
    left: 10px;
}

#search-input{
    background-color: var(--primary);
    color: var(--button-text);
    padding: 10px 20px 10px 35px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-family: inherit;
    transition: border .3s;
    width: 100%;
}

#search-input:focus{
    border: 2px solid var(--cta);
    outline: none;
}

#search-input::placeholder{
    color: #d3d3d3;
}



@media only screen and (max-width:920px){
    nav{
        position: fixed;
        background-color: var(--secondary);
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    nav svg{
        display: block;
    }

    nav ul{
        justify-content: space-evenly;
    }

    nav a{
        font-size: .8rem;
    }
}
